* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
   --bg-color: #121212;
    --text-color: #e0e0e0;         
    --main-color: #e63946;         
    --white-color: #f5f5f5;       
    --shadow-color: rgba(0, 0, 0, .4);
    --SE-color: #ffb95e;
    --AL-color: #6495ED;
    --EC-color: #8A2BE2;
    --ESS-color: #1E90FF;
    --JP-color: #FFD700; 
}

.dark-mode {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --shadow-color: rgba(0, 0, 0, .2);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

strong {
    color: var(--main-color);
}


