<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
</head>
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/normalize.css">
{% block back %}
{% endblock %}
<div class="nav-menu">
  <a class="nav-brand" href="#">
    <img src="/static/imagens/logo.png" alt="Erro logo" width="30" height="24">
  </a>
  <ul class="nav-list">
      <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="info" class="nav-link">Informações educacionais</a></li>
      <li class="nav-item"><a href="/hobbies" class="nav-link">Hobbies</a></li>
      <li class="nav-item"><a href="/redes" class="nav-link">Contato</a></li>
  </ul>
</div>

<body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
{% block content %}
{% endblock %}
</html>