{% extends "base.html" %}
{% block back %}
    <body class="margem", style="background-color: #b9e7f1;;">
{% endblock %}

{% block content %}
        <div>
        <h2 >Hobbies</h2>
        <hr>
        <div class="fotohobby">
            <img src="/static/imagens/fotohobby.png" alt="erro foto" >
          </div>
        <p> Gosto muito de jogar e assistir futebol, sou torcedor do maior time do Brasil, o Flamengo. Escuto muito música no meu dia-a-dia, sempre estou com fones de ouvido, gosto de rap, funk, pagode e sertanejo.  </p>
        </div>
    </body>
{% endblock %}
