{% extends "base.html" %}
{% block back %}
    <body class="margem", style="background-color: #b9e7f1;;">
{% endblock %}

{% block content %}
        <div>
        <h2 >Olá! Sou o Kauê Riki Kakinoana, seja bem vindo ao meu portfólio! </h2>
        <hr>
        <div class="minhafoto">
            <img src="/static/imagens/minhafoto.png" alt="erro foto" >
          </div>
            <p> Sou estudante da Fatec e estou cursando Desenvolvimento de Software e Multiplataformas, tenho 18 anos e terminei o ensino médio em 2022. Ainda não tenho experiência com programação, mas estou estundando ara ganhar o máximo de expêriencia possível. Procuro espaço no mercado de trabalho e ganhar experiência em computação.</p>

         </div>
    </body>
{% endblock %}
