{% extends "base.html" %}
{% block back %}
    <body class="margem", style="background-color: #b9e7f1;;">
{% endblock %}

{% block content %}
        <div>
        <h2 >Informações educacionais</h2>
        <hr>
        <div class="informacoes"> 
            Estudei em escola particular em todo o meu período como estudante, do primeiro ao quinto ano do fundamental eu estudei no CEC, do sexto ao nono no Instituto São José e o ensino médio no Anglo. 
            No curso da Fatec, estou aprendendo python, html, javascript e typescript, a como utilizar o css no html e banco de dados pelo Mysql.
        </div>
        <hr>
        <div class="informacoes">
            Também colaborei em um projeto no primeiro semestre sobre a covid longa, cujo o objetivo é fazer um site no qual os jornalistas possam encontrar dados a respeito.
        </div>
        <div class="techempire">
            <li><a href="https://github.com/APIEquipe/EquipeTechEmpireAPI"> Link do projeto: https://github.com/APIEquipe/EquipeTechEmpireAPI </li></a>
        </div>
        <hr>
        <div class="informacoes">
            No segundo semestre, ajudei a fazer o projeto bettercallus, que é um projeto em Javascript e Typescript em que tenha acompanhamento de chamados de ponta a ponta, e que facilite os atendimentos quando é necessário um serviço de um técnico especializado. Colaborei nesse projeto trabalhando no backend, e fiz um sistema de privilégio, que verifica se a conta logada é suporte, administrador ou cliente. Também ajudei um pouco no sistema de SLA e na ddocumentação do projeto. 
        </div>
        ]<div class="bettercallus">
            <li><a href="https://github.com/CODE1na/BetterCallUs"> Link do projeto: https://github.com/CODE1na/BetterCallUs</li></a>
        </div>
    </div>
    </body>
{% endblock %}
