{% extends "base.html" %}
{% block back %}
    <body class="margem", style="background-color: #b9e7f1;;">
{% endblock %}

{% block content %}
        <div>
         <h2 >Minhas redes sociais</h2>
         <hr>
         <div class="insta">
            <a class="instalink" href="https://github.com/kaueriki">
              <img src="/static/imagens/logogit.png" alt="Erro git">
            </a>
          </div>
         <div class="insta">
            <a class="instalink" href="https://www.instagram.com/kaue_riki/">
              <img src="/static/imagens/logoinsta.png" alt="Erro insta">
            </a>
          </div>
          <div class="linkedin">
            <a class="linkedinlink" href="https://www.linkedin.com/in/kau%C3%AA-riki-70b518273?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
              <img src="/static/imagens/logolinkedin.png" alt="Erro linkedin">
            </a>
          </div>
          <div>
            <p>Email: kaueriki@gmail.com </p>
          </div>
        </div>
    </body>
{% endblock %}
